.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.prompt, .output {
    flex: 1;
    background-color: rgba(128, 128, 128, 0.466);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 98%;
    padding: 2px;
    box-sizing: border-box;
    overflow: auto;
    font-family: monospace; 
}

.prompt {
    height: 40px;
    border: none;
    outline: none;
    resize: none;
}

.output {
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 10px;
    line-height: 1.5;
    box-sizing: border-box;
    text-align: left; 
    font-family: monospace;
    height: 400px;
    resize: none;
}



.output::placeholder, .prompt::placeholder {
    text-align: center;
    padding: 10px;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.validated {
    margin: 20px;
    width: 100%;
    height: 450px;
    background-color: rgba(128, 128, 128, 0.466);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
    text-align: left;
}

div#root {
    padding: 0;
    margin: 0;
}

button {
    height: 50px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    border-radius: 8px;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
}

.generate-button {
    margin: 10px;
    transition: 0.1s ease-in-out;
}

.check-button {
    transition: 0.1s ease-in-out;
}

.generate-button:active, .check-button:active {
    transform: scale(0.9);
}

.down-side {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    padding: 20px; /* Adjust padding as needed */
    background-color: rgba(128, 128, 128, 0.466);
    border-top: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10px;
    text-align: left;
    z-index: 1; /* Ensure it's above other content */
    border: none;
    outline: none;
    font-family: monospace;
}

h3 {
    font-size: 25px;

}

p {
    font-size: 10px;
}

ul {
    font-size: 18px;
}