.footer {
    width: 100%;
    height: 50px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    padding-top: 5px;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }