.box {
    background-color: rgba(128, 128, 128, 0.582);
    width: fit-content;
    height: fit-content;
    padding: 3px;
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}

.green {
    background-color: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 60px;
    margin-right: 20px;

}

.red {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 60px;
    margin-right: 20px;
}

p {
    font-size: 20px;
    margin: 0;
}

.text {
    margin-left: 10px;
    margin-right: 50px;
}

